.container{
  width: 90%;
}
#contentList{
  padding: 20px;
  border: black solid 2px;
  height: 100vh;
  overflow: auto;
}
#contentList .itemContent{
  padding: 20px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  /* word-break: break-all; */
  /* word-wrap: break-word; */
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#leftNav{
  border: black solid 2px;
  height: 100vh;
  overflow: auto;
}
#searchList,#searchForm{
  padding: 30px;
}
#searchForm{
  border-bottom: black solid 2px;
}
#searchList .list-group-item{
  cursor: pointer;
  margin: 20px 0;
}

#errorMsg{
  margin-top: 10px;
}
#searchForm .form-inline .form-control {
  min-width: 300px;
}