<!DOCTYPE html>

<html>
  <head>
    <title>Url search</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js" type="text/javascript"></script>

    <script src="js/SearchUrlApp.js" type="text/javascript"></script>
    <script src="js/controllers/SearchController.js" type="text/javascript"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-app="SearchUrlApp">
    <div ng-controller="SearchController">
      <div class="container">
        <div class="row>">
          <div id="leftNav" class="col-md-5">
            <div id="searchForm" class="row">
              <form class="form-inline">
                <div class="form-group">
                  <input ng-model="searchUrl" class="form-control">
                  <button type="submit" ng-click="search()" class="btn btn-primary">search</button>
                </div>
              </form>
              <div id="errorMsg" class="text-danger" ng-show="error">{{error}}</div>
            </div>
            <div id="searchList" class="row">
              <ul class="list-group">
                <li ng-repeat="(i,url) in urlList track by $index" ng-click="chooseUrl(url)"
                    ng-class="url === selectedUrl ? 'list-group-item active' : 'list-group-item'">{{url}}
                  <span class="pull-right glyphicon glyphicon-remove" ng-click="deleteFeed(i)"></span></li>
              </ul>
            </div>
          </div>
          <div id="contentList" class="col-md-7">
            <h1>{{currentFeed.feed.url}}</h1>
            <div ng-repeat="item in currentFeed.items track by $index" class="itemContent">
              <h3> {{item.title}} - {{item.pubDate}}</h3>
              <p ng-bind-html="item.content"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
